* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #333;
}

h2 {
	text-align: center;
}

a:link {
 text-decoration: none;
 color: #333;
 } /* Unvisited link. */

a:visited {
 color: #333;
 } /* Visited links. */

a:hover {
 text-decoration: underline;
 } /* The user mouses over a link. */

a:focus { } /* The user clicks on a link. */

a:active { } /* The user has clicked a link. */

button[type="submit"] {
	margin: 1em 1em;
}

form.change {
  font-weight: bold;
  margin: 0 2em;
}

table.list-table {
  align: center;
  cellpadding: 100;
  text-alight: middle;
}

.wrapper {
   margin: 50px auto 0;
   width: 500px;
}

.outline {
	border: 1px solid red;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.is-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.outline {
	border: 1px solid black;
}

.vertical-center {
	margin: auto auto;
	background: #ccc;
}

.right {
	float: right;
}

.pure-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-list {
    display: inline-block;
}

.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.pure-menu-horizontal {
	background: rgb(0, 120, 231);
}

.pure-menu-item a:hover{
	background: rgb(0, 108, 209);
}

li a.white-text {
	color: #fff;
}

div a.white-text {
	color: #fff;
}

.user {
	text-transform: uppercase;
	fond-weight: bold;
	color: #7f8c8d;
}

div a.list-title {
	font-size: 1.3em;
	font-weight: 700;
}

p.task-item {
  font-size: 1.2em;
  font-weight: bold;
  color: #666666;
  padding-right: 1.5em;
  text-align: left;
}

.lists-entry {
	margin: 2.5em auto;
  line-height: .75em;
}
