<div class="is-center">

  <h1><%= @user.username %></h1>
  <h3>Lists:</h3>

  <% if @user.lists.count == 0 %>
    <h3>No created lists yet.</h3>
  <% else  %>
    <% @user.lists.each do |list| %>
      <h3><a href="../lists/<%= list.slug %>"><%= list.name %></a></h3>
    <% end %>
  <% end %>

</div>
