<h2><%= @user.username %>'s Lists</h2>

<div class="main-list-container">

<% if @user.lists.count == 0 %>
  <p>No created lists yet.</p>
<% else  %>
  <% @user.lists.each do |list| %>
    <p>
      <a href="../lists/<%= list.slug %>" class="main-list-entry"><%= list.name %></a>
    </p>
    <br />
  <% end %>
<% end %>

</div>
