<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Task Buddy</title>
  </head>

  <body>
    <div class="header">
      <a href="/lists" class="logo">Task Buddy</a>
        <div class="header-right">
          <% if logged_in?(session) %>
            <a href="/logout">Log Out</a>
            <a href="/lists/new">NEW LIST</a>
            <a href="/users/<%= @user.slug %>"><%= @user.username %></a>
          <% else %>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
          <% end %>
      </div>
    </div>

    <div class="wrapper">
      <%= yield %>
    </div>


  </body>

</html>
