<!doctype html>
<html>
  <head>
    <title>Task Buddy</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>

        <a href="/lists">Task Buddy</a>

        <ul>

          <% if logged_in?(session) %>

            <li><a href="/logout">Log Out</a></li>
            <li><a href="/lists/new">NEW LIST</a></li>
            <li><a href="/users/<%= @user.slug %>"><%= @user.username %></a></li>

          <% else %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          <% end %>
        </ul>

      <div>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
