  <h2>Buddy's Lists</h2>


  <% List.all.each do |list| %>
    <div>
        <a href="lists/<%= list.slug %>"><%= list.name %></a>
        <p>
          by <a href="/users/<%= list.user.slug %>"><%= list.user.username %></a>
        </p>
    </div>
  <% end %>
