
  <br><br><br><br>
  <h2>Login</h2>
  <form class="pure-form is-center" action="/login" method="POST">
    <fieldset>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit" class="pure-button pure-button-primary">Login</button>
    </fieldset>
  </form>
